* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

#input1 {
    grid-column: span 2;
}

#info1 {
    grid-row: 2/2;
    grid-column: span 2;
    justify-self: center;
    align-self: center;
}

#info2 {
    grid-column: span 2;
    justify-self: center;
    align-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

button {
    grid-column: span 2;
}