:root {
    --background: #000000;
    --foreground: #fca311;
    --text: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text);

    body {
        background-color: var(--background);

        header {
            width: 100%;
            height: 5vh;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            button {
                border: 2px solid var(--foreground);
                border-radius: 4px;
            }
        }

        main {
            width: 100%;
            height: 90vh;

            section {
                height: 100%;
                width: 100%;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(2, 1fr);

                .card {
                    align-self: center;
                    justify-self: center;
                    width: 90%;
                    height: 70%;
                    border: 2px solid var(--foreground);
                    border-radius: 12px;
                }

                #modal {
                    width: 100%;
                    height: 100vh;
                    position: fixed;
                    top: 0;
                    left: 0;
                    z-index: 9999;
                    display: none;
                    background-color: rgba(0, 0, 0, 0.6);

                    
                }
            }
        }

        footer {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 5vh;
            border-top: 2px solid var(--foreground);
        }
    }
}

#modal-content {
    text-align: center;
    background-color: white;
    border-radius: 8px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    #input1,
    h1 {
        grid-column: span 2;
    }

    #info1 {
        grid-row: 2/2;
        grid-column: span 2;
        justify-self: center;
        align-self: center;
    }

    #info2 {
        grid-column: span 2;
        justify-self: center;
        align-content: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    button {
        grid-column: span 2;
    }
}